* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  width: 100%;
  padding: 15px 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ff0077;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ff0077;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #ffb3d9, #d9b3ff);
}

.hero h2 {
  font-size: 40px;
  color: #222;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

.product-section {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
}

.card h3 {
  margin-top: 15px;
  font-size: 22px;
}


.btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #ff0077;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background: #e6006e;
}

.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
